
body {
    background-color: grey;
}

.container {
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
    border: 3px solid black;
    height: 529px;
    width: 529px;
    min-height: 529px;
    min-width: 529px;
}

.square {
    box-sizing: border-box;
    align-content: flex-start;
    width: 23px;
    height: 23px;
    border: 1px solid grey;
    background-color: whitesmoke;  
       
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    border: 3px solid whitesmoke;
    width: 450px;
    padding: 10px;

    
}


.button {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 60px;
    font-weight: bold;
    border: 3px solid black;
    color: whitesmoke;
    background-color: black;
    border: 3px solid whitesmoke;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}